/* resets */
h1, h2, h3, p {
    margin: 0;
    padding: 0;
}

ul, ul li, ul li a {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
}

/* fonts */
main h2 {
    font-family: "Fredoka", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    color: #FFFDF6;
}

main ul li a {
    font-family: "Comfortaa", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: #134686;
}

/* set ups */
body {
    background-color: rgb(255, 254, 242);
}

header {
    background-color: #ED3F47;
    width: 1100px;
    height: 250px;
}

main {
    background-color: #134686;
    width: 1100px;
}

footer {
    background-color: #FEB21A;
    width: 1100px;
} 

/* header */
header h2 {
    font-family: "Schoolbell", cursive;
    font-weight: 400;
    font-style: normal;
    color: #FFFDF6;
}

/* main */
ul li {
    background-color: #FFF8E0;
}