/* resets */
h1, h2, h3, p {
    margin: 0;
    padding: 0;
}

ul, ul li, ul li a, footer p a {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
}

/* fonts */
header h1 {
    font-family: "Comfortaa", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    color: #FFFDF6;
    font-size: 20px;
}
header h2 {
    font-family: "Schoolbell", cursive;
    font-weight: 400;
    font-style: normal;
    color: #FFFDF6;
}

main h2 {
    font-family: "Fredoka", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    color: #FFFDF6;
}

main ul li a {
    font-family: "Comfortaa", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: #895c44;
}

footer p, footer p a {
    font-family: "Comfortaa", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    color: #373737;
}

/* set ups */
body {
    background-color: rgb(255, 254, 242);
    width: 1100px;
    height: 750px;
    margin: auto;
}

.background-color {
    background-color: #134686;
    background-image: url(images/mainbackground.png);
    height: 750px;
}

header {
    background-color: #ED3F47;
    background-image: url(images/headerbackground.png);
    /* background-position: center; */
    height: 250px;
    border-bottom: dashed 2px #FFFDF6;
    border-bottom-right-radius: 120px;
    box-shadow: 0px 5px 5px rgba(28, 28, 28, 0.5);   
}

.footer {
    background-color: #FEB21A;
    background-image: url(images/footerbackground.png);
    background-position: center;

    padding: 15px;
    border-top: dashed 2px #FFFDF6;
    border-top-left-radius: 120px;
    box-shadow: 0px -5px 5px rgba(28, 28, 28, 0.5); 
} 

/* header */
.redapple {
    position: relative;
    left: 8%;
    bottom: 60%;
}

.redapple img:hover {
    animation-name: apple-spin;
    animation-duration: 3s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
}

.greenapple {
    position: relative;
    left: 75%;
    bottom: 135%;
}

.greenapple img:hover {
    animation-name: apple-spin;
    animation-duration: 3s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
}

/* apple spin animation */
@keyframes apple-spin {
    0%{transform: rotate(0deg);}
    100%{transform: rotate(360deg);}
}

/* red apple hop animation 
@keyframes apple-hop {
    0%{transform: translateY(0px);}
    25%{transform: translateY(10px);}
    50%{transform: translateY(0px);}
    75%{transform: translateY(15px);}
    100%{transform: translateY(0px);}
} */

.scissors i {
    position: relative;
    left: 3%;
    bottom: 315px;
    font-size: 30px;
    color: #FFF8E0;
    transform: translate(0px);
    transition: transform 7s ease-in-out;
}

.scissors i:hover {
    /* animation-name: cutting;
    animation-duration: 5s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-out; */
    transform: translate(900px);
}

/* scissors animation */
@keyframes cutting {
    0% {transform: translate(0px)}
    50% {transform: translate(200px)}
    100% {transform: translate(0px)}
}

header h1 {
    text-align: center;
    padding-top: 40px;
}

header h2 {
    text-align: center;
    font-size: 36px;
    padding-top: 40px;
}

header .quarter {
    font-size: 24px;
    padding-top: 5px;
}

/* main */
.projects .verone {
    text-align: center;

    animation: text-change 5s, text-wiggle-one 5s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
}

.projects .vertwo {
    text-align: center;

    animation: text-change 5s, text-wiggle-two 5s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
}

.projects {
    display: flex;
    padding: 20px;
    padding-bottom: 0px;
}

.projects section {
    flex: 1;
    margin-bottom: 10px;   
    border-right: dashed 2px #3f689a;
}

.projects section:last-of-type { 
    border-right: none
}

.projects .button{
    text-align: center;

    background-color: #FFF8E0;
    padding: 10px 30px;
    margin: 30px 20px;

    border: solid 2px #a6e700;
    border-radius: 10px;

    position: relative;
    bottom: 5px;
    box-shadow: 0px 10px 0px #D5FF6B;
}

.projects .button:active {
    position: relative;
    bottom: 0px;

    background-color: #ffecaf;
    box-shadow: 0px 5px 0px #D5FF6B;
}

/* text color change animation */
@keyframes text-change {
    0%{color:#FEB21A;}
    /* 25%{color:#D5FF6B}
    50%{color:#FEB21A;}
    75%{color:#ED3F47;}
    100%{color:#FFFDF6;} */
    50% {color: #FFFDF6;}
    100% {color:#FEB21A;}
}

/* text wiggle animation */
@keyframes text-wiggle-one {
    0%{transform: rotate(-5deg);}
    25%{transform: rotate(5deg);}
    50%{transform: rotate(-5deg);}
    75%{transform: rotate(5deg);}
    100%{transform: rotate(-5deg);}
}

@keyframes text-wiggle-two {
    0%{transform: rotate(5deg);}
    25%{transform: rotate(-5deg);}
    50%{transform: rotate(5deg);}
    75%{transform: rotate(-5deg);}
    100%{transform: rotate(5deg);}
}

.projects a:hover {
    color: #d19678;
}

/* footer */
.footer {
    position: relative;
    z-index: 2;
}

.orange {
    position: relative;
    bottom: 200px;
    left: 5%;
    z-index: 1;
    animation: fruit-float 3s forwards infinite ease-in-out;
}

.lemon-slice {
    position: relative;
    bottom: 355px;
    left: 32%;
    z-index: 1;

}

.lemon-slice img {
    width: 140px;
    height: auto;

    animation: lemon-rotate 3s forwards infinite ease;
}

.orange-slice {
    position: relative;
    bottom: 570px;
    left: 78%;
    z-index: 1;
    animation: fruit-float 3s forwards infinite ease-in-out;
}


/* orange floating animation */
@keyframes fruit-float {
    0%{transform: translateY(0);}
    50%{transform: translateY(-20px);}
    100%{transform: translateY(0);}
}

/* lemon animation */
@keyframes lemon-rotate {
    0%{transform: rotate(20deg);}
    50%{transform: rotate(-5deg);}
    100%{transform: rotate(20deg);}
}

footer p {
    text-align: center;
}

footer p a:hover {
    color:#FFFDF6;
}