body {
    background-image: url(images/background.jpg);
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
}

div{
    display: inline-block;
}

#pink1{
    position: relative;
    top: 10vh;
    left: 5%;
}

#pink1 img{
    max-width: 200px;
    height: auto;
    box-shadow: 5px 5px 5px rgb(0, 0, 0, 0.5);
}