/* resets */
h1, p {
    margin: 0;
    padding: 0;
}

/* fonts */
h1{
    font-family: "DM Serif Display", serif;
    font-weight: 400;
    font-style: normal;
}

p{
    font-family: "Urbanist", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.words p{
    font-family: "Inter", sans-serif;
    font-weight: 900;
    font-style: normal;

    font-size: 40px;
    background-color: #FFFEFA;
    padding: 0px 2px;
    box-shadow: 5px 5px 5px rgb(0,0,0,0.5);
}

/* main */
body{
    overflow: hidden;
}

.mainbackground{
    position: absolute;
    background-image: url(images/graybackground.png);
    width: 100vmax;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition: background-image 1s ease-in;
}

.definition h1{
    margin-bottom: 10px;
}

.definition p{
    line-height: 1.5em;
    letter-spacing: 0.1em;
}

.imageshow{
    width: 100px;
    height: 300px;
}

.definition{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 30px;
    max-width: 1200px;
    
    color: rgb(245, 255, 255);

}

.colorcards{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    width: 100vmax;
    height: 100vh;
}

#purple, #pink, #orange, #blue, #green{
    position: absolute;
    box-shadow: 5px 5px 5px rgb(0,0,0,0.5);
}

.overlay{
    width: 120px;
    height: 120px;
    transition: height 1.5s ease-in-out;
}

.purplecard, .pinkcard, .orangecard, .greencard, .bluecard {width:135px; height:188px;}

.purplecard:hover{box-shadow: 0 0 20px 3px #9D80FF;}
.pinkcard:hover{box-shadow: 0 0 20px 3px #FF84F5;}
.orangecard:hover{box-shadow: 0 0 20px 3px #FF9564;}
.greencard:hover{box-shadow: 0 0 20px 3px #CAFF58;}
.bluecard:hover{box-shadow: 0 0 20px 3px #5086E5;}

.purplecard{
    position: absolute;
    top: 8%;
    left: 12%;
}

.pinkcard{
    position: absolute;
    top: 50%;
    left: 6%;
}

.orangecard{
    position: absolute;
    top: 70%;
    left: 72%;
}

.bluecard{
    position: absolute;
    top: 30%;
    left: 83%; 
}

.greencard{
    position: absolute;
    top: 5%;
    left: 60%;
}

#purpleover, #pinkover, #orangeover, #blueover, #greenover{
    position: absolute;
    top: 7.5px;
    left: 7.5px;
}

#purpleover{
    background-color: #9D80FF;
}

#blueover{
    background-color: #5086E5;
}

#greenover{
    background-color: #CAFF58;
}

#orangeover{
    background-color: #FF9564;
}

#pinkover{
    background-color: #FF84F5;
}

.image0{
    transition: background-image 1s ease-in;
    background-image: url(images/pigeon-hearing.jpg);
}

.image1{
    transition: background-image 1s ease-in;
    background-image: url(images/jellyfish-touch.jpg);
}

.image2{
    transition: background-image 1s ease-in;
    background-image: url(images/sky-smell.jpg);
}

.image3{
    transition: background-image 1s ease-in;
    background-image: url(images/ocean-taste.jpg);
}

.image4{
    transition: background-image 1s ease-in;
    background-image: url(images/moon-sight.jpg);
}

#sound1, #sound2, #sound3{
    position: absolute;
}

#sound1{
    transform: rotate(-20deg);
    left: 30%;
    /* top: 23%; */
    top: -100%;
    transition: top 1s ease-in-out;
}

#sound2{
    transform: rotate(10deg);
    left: 50%;
    /* top: 36%; */
    top: -100%;
    transition: top 1s ease-in-out;
}

#sound3{
    transform: rotate(-12deg);
    left: 40%;
    /* top: 80%; */
    top: -100%;
    transition: top 1s ease-in-out;
}




