/* resets */
h1, h2, h3, p {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

/* fonts */
header h1{
    font-family: "Schoolbell", cursive;
    font-weight: 400;
    font-style: normal;
    color: #FFFDF6;
    text-align: center;
    letter-spacing: 0.5em;
    font-size: 36px;
}

header h2, header a{
    font-family: "Schoolbell", cursive;
    font-weight: 400;
    font-style: normal;
    color: #FFFDF6;
}

header a {
    font-size: 20px;
}

header h2 {
    text-align: center;
}

main article h2 {
    font-family: "Comfortaa", sans-serif;
    font-weight: 700;
    font-style: normal;
    color: #517100;
    font-size: 20px;
}

main article p, main article a, footer p {
    font-family: "Comfortaa", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #895c44;
}

main article time {
    font-family: "Comfortaa", sans-serif;
    font-weight: 700;
    font-style: normal;
    color: #517100;
}

/* set ups */
body {
    background-color: #134686;
    background-image: url(../images/mainbackground.png);
    background-repeat: no-repeat;
    background-size: cover;
    margin: auto;
}

/* header */
header {
    background-color: #ED3F47;
    background-image: url(../images/headerbackground.png);
    background-position: center;
    height: 250px;
    border-bottom: dashed 2px #FFFDF6;
    box-shadow: 0px 5px 5px rgba(28, 28, 28, 0.5); 
    margin-bottom: 50px;

    display: flex;
    justify-content: center;
    align-items: center;   
    gap: 50px;
}

header .headings{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

header .home {
    text-align: center;
    margin-bottom: 30px;
}

header .home img {
    display: block;
}

/* main */
main {
    max-width: 830px;
    margin: auto;
}

main article .content{
    background-color: #FFF8E0;
    border: 3px dashed #FEB21A;
    border-radius: 30px;
    box-shadow: 5px 5px 3px rgb(0, 0, 0, 0.3);
    padding: 40px;
    margin: 30px;
    
}

main article .content p {
    margin-bottom: 15px;
    line-height: 1.6em;
}

main article .title {
    margin-left: 30px;
    margin-right: 30px;
    display: flex;
    justify-content: space-between;
}

main article h2, main article time {
    background-color: #FFF8E0;
    border: solid 3px #a6e700;
    border-radius: 10px;
    box-shadow: 0px 10px 0px #D5FF6B;   
    margin-bottom: 10px;
    padding: 15px;
}

main article time {
    align-self: last baseline;
    padding: 10px;
}

main article .content a {
    display: block;
    width: fit-content;
    padding: 15px;
    background-color: #ffd480;
    border: dashed 3px #FEB21A;
    border-radius: 10px;
    margin: 20px 0px 0px 0px;
    color:#4b3224;
}

main .divider {
    width: 800px;
    height: 2px;
    background-color: rgb(184, 211, 245);
    margin: auto;
    margin-bottom: 50px;
    margin-top: 50px;
}

/* footer */
footer {
    background-color: #FEB21A;
    background-image: url(../images/footerbackground.png);
    background-position: center;

    padding: 30px;
    border-top: dashed 2px #FFFDF6;
    box-shadow: 0px -5px 5px rgba(28, 28, 28, 0.5); 

    text-align: center;

    margin-top: 50px;
}

footer p {
    color:#573b2a;
}